<div>
  <div>
    <h1>Burger Log</h1>
  </div>
</div>

<div>
  <div>
    <h2>Burgers ready to be eaten:</h2>
    <ol>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </ol>
  </div>

  <div>
    <h2>Burgers eaten:</h2>
    <ol>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </ol>
  </div>
</div>

<div>
  <div>
    <form id="create-form">
      <p>Add a new Burger!</p>
      <input type="text" id="newburger" name="burger">
      <button id="submit" type="submit">Add Burger</button>
    </form>
  </div>
</div>