<li>
	{{burger}}

	{{#if devoured}}
	<button type="button" id="eatenButton" class="change-devoured btn btn-outline-warning" data-id="{{id}}" data-newdevoured="{{devoured}}">Eaten</button>{{/if}}

	<button type="button" id="deleteButton" class="delete-burger btn close" data-id="{{this.id}}">x</button>
</li>