<li>
	{{burger}}

	{{#if devoured}}
	<button class="change-devoured btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">Eaten</button>{{/if}}

	<button class="delete-burger btn btn-danger" data-id="{{this.id}}">Delete</button>
</li>